<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818216179913-2286qc3bf0eueh15jqn8ojmgg1223is9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818216179913-2286qc3bf0eueh15jqn8ojmgg1223is9</string>
	<key>API_KEY</key>
	<string>AIzaSyAyUNL3CT15Y8dNMOLhOu9l2Tdzl0uHjVM</string>
	<key>GCM_SENDER_ID</key>
	<string>818216179913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gikiEats</string>
	<key>PROJECT_ID</key>
	<string>giki-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>giki-eats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818216179913:ios:d70ae0c6d762c207211518</string>
	<key>DATABASE_URL</key>
	<string>https://giki-eats.firebaseio.com</string>
</dict>
</plist>